# Consumer Loan Case Study

In [52]:
#Import libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:
#Importing the loan.csv file in the dataframe for analysis.
loan_master = pd.read_csv("loan.csv", low_memory=False)

### Data Understanding & Data Cleaning
Analysis of the Dataframe. Count of rows and columns and column names in the dataframe.

In [54]:
#Number of rows and columns.
loan_master.shape

(39717, 111)

In [55]:
#Summary of the loan_master dataframe.
loan_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [56]:
#Column names in the dataset.
loan_master.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [57]:
#Checking the Missing values.
loan_master.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [58]:
#Checking missing value percentages of the columns.
round(loan_master.isnull().sum()/len(loan_master.index), 2)*100

id                              0.0
member_id                       0.0
loan_amnt                       0.0
funded_amnt                     0.0
funded_amnt_inv                 0.0
                              ...
tax_liens                       0.0
tot_hi_cred_lim               100.0
total_bal_ex_mort             100.0
total_bc_limit                100.0
total_il_high_credit_limit    100.0
Length: 111, dtype: float64

In [59]:
#Removing columns having missing values over 60%
missing_value_col = loan_master.columns[100*(loan_master.isnull().sum()/len(loan_master.index)) > 60]
print(missing_value_col)

Index(['mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d',
       'mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal',
       'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
       'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim',
       'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit'],
      dtype='object')

In [60]:
#Dropping the missing values from the dataframe.
loan = loan_master.drop(missing_value_col, axis=1)
loan.shape

(39717, 54)

In [61]:
#Checking missing value percentages of the columns.
pd.set_option('display.max_rows', 60)
loan.isnull().sum()
round(loan.isnull().sum()/len(loan.index), 2)*100

id                             0.0
member_id                      0.0
loan_amnt                      0.0
funded_amnt                    0.0
funded_amnt_inv                0.0
term                           0.0
int_rate                       0.0
installment                    0.0
grade                          0.0
sub_grade                      0.0
emp_title                      6.0
emp_length                     3.0
home_ownership                 0.0
annual_inc                     0.0
verification_status            0.0
issue_d                        0.0
loan_status                    0.0
pymnt_plan                     0.0
url                            0.0
desc                          33.0
purpose                        0.0
title                          0.0
zip_code                       0.0
addr_state                     0.0
dti                            0.0
delinq_2yrs                    0.0
earliest_cr_line               0.0
inq_last_6mths                 0.0
open_acc                       0.0
pub_rec                        0.0
revol_bal                      0.0
revol_util                     0.0
total_acc                      0.0
initial_list_status            0.0
out_prncp                      0.0
out_prncp_inv                  0.0
total_pymnt                    0.0
total_pymnt_inv                0.0
total_rec_prncp                0.0
total_rec_int                  0.0
total_rec_late_fee             0.0
recoveries                     0.0
collection_recovery_fee        0.0
last_pymnt_d                   0.0
last_pymnt_amnt                0.0
last_credit_pull_d             0.0
collections_12_mths_ex_med     0.0
policy_code                    0.0
application_type               0.0
acc_now_delinq                 0.0
chargeoff_within_12_mths       0.0
delinq_amnt                    0.0
pub_rec_bankruptcies           2.0
tax_liens                      0.0
dtype: float64

In [63]:
# Checking desc column variable.
# Removing the variable as it contains information, which the user fills during the loan application and would not 
# be required for this analysis.
loan.desc.head()
loan = loan.drop('desc', axis=1)

In [64]:
# Checking the columns and the missing value percentages.
round(loan.isnull().sum()/len(loan.index),2)* 100

id                            0.0
member_id                     0.0
loan_amnt                     0.0
funded_amnt                   0.0
funded_amnt_inv               0.0
term                          0.0
int_rate                      0.0
installment                   0.0
grade                         0.0
sub_grade                     0.0
emp_title                     6.0
emp_length                    3.0
home_ownership                0.0
annual_inc                    0.0
verification_status           0.0
issue_d                       0.0
loan_status                   0.0
pymnt_plan                    0.0
url                           0.0
purpose                       0.0
title                         0.0
zip_code                      0.0
addr_state                    0.0
dti                           0.0
delinq_2yrs                   0.0
earliest_cr_line              0.0
inq_last_6mths                0.0
open_acc                      0.0
pub_rec                       0.0
revol_bal                     0.0
revol_util                    0.0
total_acc                     0.0
initial_list_status           0.0
out_prncp                     0.0
out_prncp_inv                 0.0
total_pymnt                   0.0
total_pymnt_inv               0.0
total_rec_prncp               0.0
total_rec_int                 0.0
total_rec_late_fee            0.0
recoveries                    0.0
collection_recovery_fee       0.0
last_pymnt_d                  0.0
last_pymnt_amnt               0.0
last_credit_pull_d            0.0
collections_12_mths_ex_med    0.0
policy_code                   0.0
application_type              0.0
acc_now_delinq                0.0
chargeoff_within_12_mths      0.0
delinq_amnt                   0.0
pub_rec_bankruptcies          2.0
tax_liens                     0.0
dtype: float64

### Based upon the Business & Data understanding, we can segregate the data into 3 major categories.

1. Customer Information.
2. Loan Information.
3. Payment Information - Behavioural Info.

### Customer Information: 

emp_title  
emp_length  
home_ownership  
annual_inc  
verification_status  
addr_state  
zip_code  
title  
purpose  
desc  
url  

### Loan Information:

loan amount  
funded amount  
funded amount invested  
interest rate  
loan status  
loan grade  
loan sub-grade  
dti  
loan issue date  
loan term  
installment  

### Customer Behaviour variables 

delinq_2yrs  
earliest_cr_line  
inq_last_6mths  
open_acc  
pub_rec  
revol_bal  
revol_util  
total_acc  
out_prncp  
out_prncp_inv  
total_pymnt          
total_pymnt_inv  
total_rec_prncp  
total_rec_int  
total_rec_late_fee   
recoveries     
collection_recovery_fee  
last_pymnt_d  
last_pymnt_amnt  
next_pymnt_d  
last_credit_pull_d  
application_type

In [68]:
# creation a customers payment behaviour list, with columns from customer behaviour. The customer payment information
# is not required for analysis, as this data is collected after the loan is granted. Hence this cannot be obtained for
# new prospective clients or defaulters.
customer_payment_info = ['delinq_2yrs',
                         'earliest_cr_line',
                         'inq_last_6mths',  
                         'open_acc',
                         'pub_rec',
                         'revol_bal',  
                         'revol_util', 
                         'total_acc',
                         'out_prncp',
                         'out_prncp_inv',  
                         'total_pymnt',      
                         'total_pymnt_inv',  
                         'total_rec_prncp',
                         'total_rec_int',
                         'total_rec_late_fee',   
                         'recoveries',
                         'collection_recovery_fee',  
                         'last_pymnt_d',
                         'last_pymnt_amnt',
                         'last_credit_pull_d',  
                         'application_type']

In [69]:
# Dropping the customer_payment_info columns from the loan dataframe.
loan = loan.drop(customer_payment_info, axis=1)

In [70]:
# Checking the rows and columns.
loan.shape

(39717, 32)

In [71]:
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,initial_list_status,collections_12_mths_ex_med,policy_code,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Computer,860xx,AZ,27.65,f,0.0,1,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,1.00,f,0.0,1,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,real estate business,606xx,IL,8.72,f,0.0,1,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,20.00,f,0.0,1,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,other,Personal,972xx,OR,17.94,f,0.0,1,0,0.0,0,0.0,0.0

In [72]:
# There are many variables which have all 0's, which should be removed as they are not usefull for analysis.
# Column name: collections_12_mths_ex_med, acc_now_delinq, chargeoff_within_12_mths, delinq_amnt, pub_rec_bankruptcies, tax_liens

variables_with_0s = ['collections_12_mths_ex_med', 
                     'acc_now_delinq', 
                     'chargeoff_within_12_mths', 
                     'delinq_amnt', 
                     'pub_rec_bankruptcies', 
                     'tax_liens']

In [80]:
# Also removing variables from Customer's information, which are not required.
# Column name: id, member_id, url, zip_code, emp_title, initial_list_status, policy_code, pymnt_plan

variables_unusefull = ['id', 
                       'member_id', 
                       'url', 
                       'zip_code', 
                       'emp_title', 
                       'initial_list_status', 
                       'policy_code', 
                       'pymnt_plan']

In [81]:
# Removing the above two list of variables from the loan dataset.
loan = loan.drop(variables_with_0s, axis=1)
loan = loan.drop(variables_unusefull, axis=1)

In [82]:
loan.shape

(39717, 18)

In [83]:
loan.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,addr_state,dti
0,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,credit_card,Computer,AZ,27.65
1,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,car,bike,GA,1.00
2,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,small_business,real estate business,IL,8.72
3,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,other,personel,CA,20.00
4,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,1 year,RENT,80000.0,Source Verified,Dec-11,Current,other,Personal,OR,17.94

In [90]:
# Data Cleaning Steps : Removing months from term column.
#loan.term.unique()  # To check unique values in term. There are 2 values ' 36 months', ' 60 months'.
loan['term'] = (loan['term'].str.rstrip(' months'))

In [93]:
loan['term'] = (loan['term'].str.lstrip(' ')) # Removing whitespace from the term column.

In [96]:
# Removing % from int_rate column.
loan['int_rate'] = (loan['int_rate'].str.strip('%'))

In [97]:
loan.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,addr_state,dti
0,5000,5000,4975.0,36,10.65,162.87,B,B2,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,credit_card,Computer,AZ,27.65
1,2500,2500,2500.0,60,15.27,59.83,C,C4,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,car,bike,GA,1.00
2,2400,2400,2400.0,36,15.96,84.33,C,C5,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,small_business,real estate business,IL,8.72
3,10000,10000,10000.0,36,13.49,339.31,C,C1,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,other,personel,CA,20.00
4,3000,3000,3000.0,60,12.69,67.79,B,B5,1 year,RENT,80000.0,Source Verified,Dec-11,Current,other,Personal,OR,17.94

In [101]:
# Converting all cases to lowercase for all columns.
# Column names to be changed. - Home_ownership, vaerification_status, loan_status, purpose, title.
loan['home_ownership'] = (loan['home_ownership'].str.lower())
loan['verification_status'] = (loan['verification_status'].str.lower())
loan['loan_status'] = (loan['loan_status'].str.lower())
loan['purpose'] = (loan['purpose'].str.lower())
loan['title'] = (loan['title'].str.lower())

In [102]:
loan.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,addr_state,dti
0,5000,5000,4975.0,36,10.65,162.87,B,B2,10+ years,rent,24000.0,verified,Dec-11,fully paid,credit_card,computer,AZ,27.65
1,2500,2500,2500.0,60,15.27,59.83,C,C4,< 1 year,rent,30000.0,source verified,Dec-11,charged off,car,bike,GA,1.00
2,2400,2400,2400.0,36,15.96,84.33,C,C5,10+ years,rent,12252.0,not verified,Dec-11,fully paid,small_business,real estate business,IL,8.72
3,10000,10000,10000.0,36,13.49,339.31,C,C1,10+ years,rent,49200.0,source verified,Dec-11,fully paid,other,personel,CA,20.00
4,3000,3000,3000.0,60,12.69,67.79,B,B5,1 year,rent,80000.0,source verified,Dec-11,current,other,personal,OR,17.94

In [115]:
# Cleaning emp_length column. Removing years, spaces and other characters.
loan['emp_length'] = (loan['emp_length'].str.rstrip(' years'))
loan['emp_length'] = (loan['emp_length'].str.rstrip(' year'))
loan['emp_length'] = (loan['emp_length'].str.rstrip('+'))
loan['emp_length'] = (loan['emp_length'].str.lstrip('< '))

In [118]:
loan.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,addr_state,dti
0,5000,5000,4975.0,36,10.65,162.87,B,B2,10,rent,24000.0,verified,Dec-11,fully paid,credit_card,computer,AZ,27.65
1,2500,2500,2500.0,60,15.27,59.83,C,C4,1,rent,30000.0,source verified,Dec-11,charged off,car,bike,GA,1.00
2,2400,2400,2400.0,36,15.96,84.33,C,C5,10,rent,12252.0,not verified,Dec-11,fully paid,small_business,real estate business,IL,8.72
3,10000,10000,10000.0,36,13.49,339.31,C,C1,10,rent,49200.0,source verified,Dec-11,fully paid,other,personel,CA,20.00
4,3000,3000,3000.0,60,12.69,67.79,B,B5,1,rent,80000.0,source verified,Dec-11,current,other,personal,OR,17.94

array(['Dec-11', 'Nov-11', 'Oct-11', 'Sep-11', 'Aug-11', 'Jul-11',
       'Jun-11', 'May-11', 'Apr-11', 'Mar-11', 'Feb-11', 'Jan-11',
       'Dec-10', 'Nov-10', 'Oct-10', 'Sep-10', 'Aug-10', 'Jul-10',
       'Jun-10', 'May-10', 'Apr-10', 'Mar-10', 'Feb-10', 'Jan-10',
       'Dec-09', 'Nov-09', 'Oct-09', 'Sep-09', 'Aug-09', 'Jul-09',
       'Jun-09', 'May-09', 'Apr-09', 'Mar-09', 'Feb-09', 'Jan-09',
       'Dec-08', 'Nov-08', 'Oct-08', 'Sep-08', 'Aug-08', 'Jul-08',
       'Jun-08', 'May-08', 'Apr-08', 'Mar-08', 'Feb-08', 'Jan-08',
       'Dec-07', 'Nov-07', 'Oct-07', 'Sep-07', 'Aug-07', 'Jul-07',
       'Jun-07'], dtype=object)